name: CI

on:
  pull_request:
    branches:
      - 'master'
  push:
    branches:
      - '*'
  schedule:
    - cron: '0 0 * * *'

jobs:
  test:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [18.x, 20.x]

    steps:
    - uses: actions/checkout@v4
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node-version }}
    - name: install pnpm
      run: npm i -g pnpm@^8
    - name: install deps
      run: pnpm i
    - name: lint
      run: pnpm lint
    - name: build
      run: pnpm build
    - name: test
      run: pnpm test:cov
    - name: E2E test
      run: pnpm test:e2e

  auto-merge:
    needs: test
    if: contains(github.event.pull_request.user.login, 'dependabot') || contains(github.event.pull_request.user.login, 'renovate')
    runs-on: ubuntu-latest
    steps:
    - name: automerge
      uses: pascalgn/automerge-action@v0.16.3
      env:
        GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
        MERGE_LABELS: ""
        MERGE_METHOD: rebase 
